In [1]:
import pandas as pd
import numpy as np

In [2]:
df_all = pd.read_csv("./data/sfpd_dispatch_data_subset.csv")
df_all["received_timestamp"] = pd.to_datetime(df_all["received_timestamp"])

In [3]:
counter_nan = df_all.isnull().sum()
counter_no_nan = counter_nan[counter_nan==0]
df_cleaned = df_all[counter_no_nan.keys()]
kept_keys = ['priority', 'supervisor_district']
df_cleaned = df_cleaned[kept_keys]
df_cleaned.keys()

Index(['priority', 'supervisor_district'], dtype='object')

In [5]:
dotw_mapping = {
    0: 'Monday',
    1: 'Tuesday',
    2: 'Wednesday',
    3: 'Thursday',
    4: 'Friday',
    5: 'Saturday',
    6: 'Sunday'
}
unit_type_mapping = {
    'CHIEF': 0,
    'ENGINE': 1,
    'INVESTIGATION': 2,
    'MEDIC': 3,
    'PRIVATE': 4,
    'RESCUE CAPTAIN': 5,
    'RESCUE SQUAD': 6,
    'SUPPORT': 7,
    'TRUCK': 8
}

In [6]:
df_cleaned = df_cleaned.replace({'unit_type': unit_type_mapping})

In [4]:
df_cleaned.to_json(orient='records', path_or_buf='../public/data/priority_vs_neighborhood_calls.json')

In [5]:
df_cleaned

      priority  supervisor_district
0            2                    1
1            2                    6
2            2                    7
3            3                    2
4            3                    6
5            3                    8
6            3                    6
7            3                    6
8            3                    3
9            2                   10
10           2                    6
11           2                    3
12           3                    8
13           3                    6
14           3                    9
15           3                    6
16           3                    6
17           3                    7
18           2                    5
19           3                    6
20           3                    6
21           2                    6
22           2                    5
23           3                    3
24           2                    6
25           3                    5
26           2                    6
27           2                    9
28           2                    9
29           3                    6
...        ...                  ...
9970         3                    8
9971         3                    4
9972         2                    9
9973         3                    6
9974         3                   11
9975         3                    6
9976         3                    6
9977         2                    3
9978         3                   10
9979         3                    5
9980         3                    9
9981         3                    6
9982         2                    6
9983         3                    2
9984         2                    6
9985         3                   10
9986         3                    8
9987         3                    1
9988         2                    5
9989         2                    3
9990         3                    8
9991         3                    5
9992         2                    6
9993         3                    8
9994         3                    4
9995         7                    9
9996         3                    5
9997         3                    6
9998         3                    2
9999         3                    6

[10000 rows x 2 columns]